<section
  class="relative left-1/2 right-1/2 w-screen font-sans text-stone-900 bg-stone-200 -translate-x-1/2"
>
  <div
    class="mx-auto flex flex-col items-center gap-6 px-4 py-12 w-full max-w-7xl text-center md:gap-8 md:px-6 lg:px-8"
  >
    <swiper-container #spotlightSwiper init="false" class="block w-full h-[200px]">
      <swiper-slide>
        <div class="flex flex-col items-center gap-4">
          <p class="text-sm font-medium tracking-wide text-stone-600 animate-spotlight-top">
            Spotlight
          </p>
          <h2
            class="text-3xl font-semibold tracking-tight text-stone-900 animate-spotlight-middle md:text-4xl"
          >
            {{ carouselSlides[0].title }}
          </h2>
          <p class="max-w-xl text-sm text-stone-600 animate-spotlight-bottom">
            {{ carouselSlides[0].subtitle }}
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex flex-col items-center gap-4">
          <p class="text-sm font-medium tracking-wide text-stone-600 animate-spotlight-top">
            Spotlight
          </p>
          <h2
            class="text-3xl font-semibold tracking-tight text-stone-900 animate-spotlight-middle md:text-4xl"
          >
            {{ carouselSlides[1].title }}
          </h2>
          <p class="max-w-xl text-sm text-stone-600 animate-spotlight-bottom">
            {{ carouselSlides[1].subtitle }}
          </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="flex flex-col items-center gap-4">
          <p class="text-sm font-medium tracking-wide text-stone-600 animate-spotlight-top">
            Spotlight
          </p>
          <h2
            class="text-3xl font-semibold tracking-tight text-stone-900 animate-spotlight-middle md:text-4xl"
          >
            {{ carouselSlides[2].title }}
          </h2>
          <p class="max-w-xl text-sm text-stone-600 animate-spotlight-bottom">
            {{ carouselSlides[2].subtitle }}
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
