<section
  class="relative left-1/2 right-1/2 w-screen font-sans text-stone-900 bg-stone-200 -translate-x-1/2"
>
  <div class="mx-auto flex w-full max-w-7xl gap-0 px-4 py-8 md:px-6 lg:px-8">
    <div class="flex-1 min-w-0 border">
      <img
        src="https://media.istockphoto.com/id/1502960762/vector/pop-summer-sale-design-image-illustration-of-summer-bursting-with-carbonation-light-blue.jpg?s=612x612&w=0&k=20&c=TSeL7nHfQ94dIQePkNc01AcFKu9JieDP09jASJuzFJU="
        alt="Summer sale banner"
        class="h-full w-full object-cover"
        loading="lazy"
        decoding="async"
      />
    </div>
    <div class="flex-1 min-w-0 border">
      <div>{{ days() }}</div>
      <div>{{ hours() }}</div>
      <div>{{ minutes() }}</div>
      <div>{{ seconds() }}</div>
    </div>
  </div>
</section>
