<div class="grid grid-cols-2 gap-4 md:grid-cols-4">
  <div class="grid grid-cols-[64px_1fr] items-center gap-1">
    <mat-icon class="!text-[56px] !w-14 !h-14 leading-none !text-red-600">local_shipping</mat-icon>

    <div class="flex flex-col">
      <p class="m-0 text-2xl font-bold text-black">Free Shipping</p>
      <p class="m-0 text-gray-500">For all orders over $99</p>
    </div>
  </div>
  <div class="grid grid-cols-[64px_1fr] items-center gap-1">
    <mat-icon class="!text-[56px] !w-14 !h-14 leading-none !text-red-600">security</mat-icon>
    <div class="flex flex-col">
      <p class="m-0 text-2xl font-bold text-black">Money Back Guarantee</p>
      <p class="m-0 text-gray-500">100% money back guarantee</p>
    </div>
  </div>
  <div class="grid grid-cols-[64px_1fr] items-center gap-1">
    <mat-icon class="!text-[56px] !w-14 !h-14 leading-none !text-red-600">support_agent</mat-icon>
    <div class="flex flex-col">
      <p class="m-0 text-2xl font-bold text-black">Online Support 24/7</p>
      <p class="m-0 text-gray-500">Dedicated support</p>
    </div>
  </div>
  <div class="grid grid-cols-[64px_1fr] items-center gap-1">
    <mat-icon class="!text-[56px] !w-14 !h-14 leading-none !text-red-600">lock</mat-icon>
    <div class="flex flex-col">
      <p class="m-0 text-2xl font-bold text-black">Payment Secure</p>
      <p class="m-0 text-gray-500">100% secure payment</p>
    </div>
  </div>
</div>
